:root{
    --default-font : Noto Sans TC;
  }

  body {
    background-color:  #fff;
  }

  /* Global Setting */
  body * {
    font-family: var(--default-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #666666;
  }

  /* Disable select */
  body * {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: auto;
  }

  body > * + * {
    margin-top: 30px;
  }

  h1, h2, h3, h4, h5, h6 + * {
    margin-top: 12px;
  }

  /* Header Styles */
  h1 {
    font-family: var(--default-font);
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
    color: #666666;
  }

  h2 {
    font-family: var(--default-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #434343;
  }

  h3 {
    font-family: var(--default-font);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #434343;
  }

  em {
    color: #EF8200;
  }

  code {
    display: inline-block;
    padding: 2px 6px;
    margin: 0 2px;
    background-color: #f0f0f0;
    border-radius: 4px;
    line-height: 22px;
  }

  code * {
    font-family: Consolas, monaco, monospace !important;
    user-select: text;
    -webkit-touch-callout: revert;
    -webkit-user-drag: auto;
  }

  img {
    margin-top: 20px;
  }

  pre {
    margin-top: 12px;
    padding: 8px 12px;
    border-radius: 2px;
    background-color: #f0f0f0;
    white-space: normal;
  }

  a {
    color: #EF8200;
    text-decoration: underline;
  }

  a * {
    color: #EF8200;
    text-decoration: underline;
  }

  strong {
    font-weight: bold;
  }

  strong * {
    font-weight: bold;
  }

  ul {
    margin-left: 20px;
  }

  ol {
    margin-left: 18px;
  }

  ol li {
    padding-left: 2px;
  }

  ul {
    list-style-type: revert;
  }

  ol {
    list-style-type: revert;
  }

  body > ol, body > ul ol, ul {
    margin-left: 30px;
  }

  li > img:nth-child(n+2) {
    margin-top: 12px;
  }

  li > img:nth-last-child(n+2) {
    margin-bottom: 12px;
  }

  blockquote {
    padding: 4px 12px;
    background: rgba(255, 245, 6, 0.1);
    border-left: 8px solid #FFF506;
  }